//Green series
$green-deep: #163e2e;
$green-wall: #346b56;
$green-grass: #657a4f;
$lake-green: #7f9d94;
$lake-blue: #91bbc9;
$gray: #b0abaa;
$coffee: #764d46;
$yellow:#eab756;
$deciduous-yellow: #c09b19;



$a: #357d71;
$b: #5f936a;
$c: #c2cb81;
$d: #fa8a89;
$e: #ffabaa;
$f: #ffacbb;
